<!DOCTYPE html>
<html>
    <head>
        <title>    
    {% block title %}
    Panter Hudspith
    {% endblock title %}
    </title>
    </head>

    <body>
    {% block navbar %}
        
        <ul>
            <li><a href = "http://127.0.0.1:8000"><img src ="{{logo}}"></a></li>
            <li><a href = "http://127.0.0.1:8000/studio">Studio</a></li>
            <li><a href = "http://127.0.0.1:8000/projects">Projects</a></li>
            <li><a href = "http://127.0.0.1:8000/people">People</a></li>
            <li><a href = "http://127.0.0.1:8000/contact">Contact</a></li>
        </ul>
    {% endblock navbar %}
    {% block content %}
    <p>Here is where the content should go</p>
    {% endblock content %}
    </body>
</html>
