<head>{{ project.title }}</head>
{% load thumbnail %}
<body>
<br/>

{% for i in project.related_image.all %}

    	{% if i.image|is_portrait %}
    		<p>Portrait</p>
    		{% thumbnail i.image "x1000" as im %}
    		    	<img src="{{ im.url }}">
    		{% endthumbnail %}
    	{% else %}
    		<p>Landscape</p>
    		{% thumbnail i.image "1000" as im %}
    		    	<img src="{{ im.url }}">
    		{% endthumbnail %}
    	{% endif %}

{% endfor %}


{% for i in project.related_image.all %}

	{% thumbnail i.image "100x100" crop="center" as im %}
    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}	
	
{% endfor %}


<body>