{% extends "base.html" %}


blah blah blah
{% block content%}
{% if news %}
	<div id = "content">
    <ul>
    {% for article in news %}

        <li>{{ article.title }}
        </br>
        	{{article.article}}
        </br>
        </br>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endif %}
{% endblock content %}

{% block sidebar %}
    <div id="sidebar">
    <ul>
        <li><a href = "http://127.0.0.1:8000/studio/awards/"> Awards </a></li>
        <li><a href = "http://127.0.0.1:8000/studio/competitions/"> Competitions </a></li>
     <li><a href = "http://127.0.0.1:8000/studio/publications/"> Publications  </a></li>
    </ul>
    </div>
{% endblock sidebar %}
